/* Custom Theme */
// $color-brand: #a32634;
// $color-brand-light: #ff8e4e;
// $color-brand-dark: #cc530f;
// $color-line: #f2f2f2;

/* 引入 Taro UI 默认样式，全局引入一次即可 */
@import "~taro-ui/dist/style/index.scss";

// 去掉微信小程序Button 点击时的背景
.button-hover {
  background-color:transparent;
}


// 重写 taro-ui 组件的样式都写在这下面 ↓↓↓↓↓↓↓↓↓

// 修改了loading圆圈大小
.at-toast .toast-body-content__img-item {
  width: 40px;
  height: 40px;
}

.cl-clienteling-input {
  .at-input {
    margin-left: 0;
    border-radius: 10px;
    border: solid 3px #ff9450;

    input {
      padding-left: 20px;

      font-size: 26px;
      color: #ff9450;
    }
  }

  .cl-clienteling-placeholderClass {
    font-size: 26px;
    color: #ff9450;
  }
}

.new-cl-clienteling-input {
  .at-input {
    margin-left: 0;
    border-radius: 24px;
    border: 0;

    background-color: #eee;

    input {
      padding-left: 24px;

      font-size: 28px;
      color: #333;
    }
  }
}

.cl-clienteling-tabs {
  .at-tabs__item {
    font-size: 28px;

    color: #999;
  }

  .at-tabs__item--active {
    font-size: 30px;
    
    color: #333;
  }

  .at-tabs__item-underline {
    background-color: #ffa547;
  }
}

.cl-clienteling-btn {
  .at-button {
    border-radius: 33px;
    border: 1PX solid #ff8f62;
    height: 65px;

    font-size: 24px;
    line-height: 65px;

    color: #ff8f62;
  
    &--primary {
      border: 0;

      color: #fff;

      background: #ff8f62;
    }
  }
}

.at-curtain {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.cl-clienteling-common-modal {
  .at-modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .at-modal__container {
    border-radius: 40px;
    width: 606px;
  }

  .at-modal__header {
    box-sizing: border-box;
    height: 86px;

    font-size: 32px;

    color: #fff;

    background-color: #fe8f62;
  }

  .at-modal__content {
    padding: 40px;
    min-height: 100px;
  }

  .at-modal__footer {
    &::before {
      display: none;
    }
  }

  .at-modal__action {
    display: block;
  }
}

.u-modal {
  .at-modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .at-modal__container {
    width: 560px;

    background-color: transparent;

    overflow: visible;
  }

  .at-modal__header {
    box-sizing: border-box;
    border-radius: 30px 30px 0px 0px;
    height: 86px;

    font-size: 32px;

    color: #fff;

    background-image: linear-gradient(0, #fea164 0%, #ff8f62 100%);
  }

  .at-modal__content {
    padding: 40px;
    min-height: 100px;
    background-color: #fff;
  }

  .at-modal__footer {
    &::before {
      display: none;
    }
  }

  .at-modal__action {
    display: block;
  }
}

.u-modal--big {
  .at-modal__container {
    width: 690px;
  }
}
