.flex-box,
.flex-b-sc,
.flex-b-ec,
.flex-b-cc,
.flex-b-sbc,
.flex-b-sac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: flex;
}

.jc-s,
.flex-b-sc {
  -webkit-box-pack: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.jc-e,
.flex-b-ec {
  -webkit-box-pack: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.jc-ce,
.flex-b-cc {
  -webkit-box-pack: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;
}

.jc-sb,
.flex-b-sbc {
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.jc-sa,
.flex-b-sac {
  -webkit-box-pack: space-around;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.ai-s {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.ai-ce,
.flex-b-sc,
.flex-b-ec,
.flex-b-cc,
.flex-b-sbc,
.flex-b-sac {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.as-s {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.as-e {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.fd-col {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.fw-wr {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* width: 0;  写上这个是为了防止子元素撑开父元素，但是，如果写在这里会比较不方便 */
}

.flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
